<%= form_for Team.new do |f| %>
  <% if @team.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@team.errors.count, "error") %> Please check your submission:</h2>
    <ul>
    <% @team.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :Name  %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :Coach %><br>
    <%= f.text_field :coach %>
  </p>

  <p>
    <%= f.label :Contact %><br>
    <%= f.text_field :contact %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>