<%= form_for Team.new do |f| %>
  <% if @team.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@team.errors.count, "error") %> present: Please check your submission:</h2>
    <ul>
    <% @team.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
<div class="row col-sm-4">
  <div class="form-group">
    <%= f.label :Name  %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
 
  <div class="form-group">
    <%= f.label :Coach %><br>
    <%= f.text_field :coach, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :Contact %><br>
    <%= f.text_field :contact, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :'Number of Players' %><br>
    <%= f.number_field :numplayers, class: 'form-control' %>
  </div>

  <p>
    <%= f.submit "Submit Application", class: 'btn btn-primary' %>
  </p>
<% end %>