<%= form_for @player do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited
        you from signing up:</h2>
      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :Name  %><%= mark_required(@player, :name) %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :Number %><%= mark_required(@player, :name) %><br>
    <%= f.text_field :number %>
  </p>

  <p>
    <%= f.label :Email %><br>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :Age %><%= mark_required(@player, :name) %><br>
    <%= f.text_field :age %>
  </p>

  <p>
    <%='Select all positions that apply'%><br>
    <%=f.check_box :coach %> Coach<br>
    <%=f.check_box :pitcher %> Pitcher<br>
    <%=f.check_box :catcher %> Catcher<br>
    <%=f.check_box :first %> First Base<br>
    <%=f.check_box :second %> Second Base<br>
    <%=f.check_box :third %> Third Base<br>
    <%=f.check_box :short %> Shortstop<br>
    <%=f.check_box :outfield %> Outfield<br>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>