<%= form_for @player do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited
        you from signing up:</h2>
      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul> 
    </div>
<% end %>
<div class="row col-sm-4">
  <div class="form-group">
    <%= f.label :Name  %><%= mark_required(@player, :name) %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
 
  <div class="form-group">
    <%= f.label :Number %><%= mark_required(@player, :name) %><br>
    <%= f.text_field :number, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :Email %><br>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :Age %><%= mark_required(@player, :name) %><br>
    <%= f.text_field :age, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%=f.label :'Select all positions that apply'%><br>
    <%=f.check_box :coach %> <%= f.label :Coach %><br>
    <%=f.check_box :pitcher %> <%= f.label :Pitcher%><br>
    <%=f.check_box :catcher %> <%= f.label :Catcher%><br>
    <%=f.check_box :first %> <%= f.label :'First Base'%><br>
    <%=f.check_box :second %> <%= f.label :'Second Base'%><br>
    <%=f.check_box :third %> <%= f.label :'Third Base'%><br>
    <%=f.check_box :short %> <%= f.label :Shortstop%><br>
    <%=f.check_box :outfield %> <%= f.label :Outfield%><br>
  </div>

  <p>
    <%= f.submit "Sign Up!", class: 'btn btn-primary' %>
  </p>
<% end %>
</div>