<!DOCTYPE html>

<html>
<head>
  <%= stylesheet_link_tag    "application", media: "all" %>

<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class='navbar-inner nav-collapse' style="height: auto;">
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if current_page?(root_url) %>"><%= link_to 'Home', root_url %></li>
        <li class="<%= 'active' if current_page?(officials_path) %>"><%= link_to 'Officials', officials_path  %></li>
        <li class="<%= 'active' if current_page?(events_path) %>"><%= link_to 'Upcomming events', events_path %></li>
        <li class="<%= 'active' if current_page?(posts_path) %>"><%= link_to 'League Announcements', posts_path %></li>
        <li class="<%= 'active' if current_page?(teams_path) %>"><%= link_to 'Teams', teams_path %></li>
        <li class="<%= 'active' if current_page?(players_path) %>"><%= link_to 'Players', players_path %></li>
        <li class="<%= 'active' if current_page?(guidelines_path) %>"><%= link_to 'ASA Official Guidelines', guidelines_path %></li>    
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_official %>
          <li class=><%= current_official.username %></li>
          <li class="<%= 'active' if current_page?(new_player_path) %>"><%= link_to 'Sign Out', signout_path %></li>
        <% else %>
          <li class="<%= 'active' if current_page?(new_player_path) %>"><%= link_to 'Sign Up', new_player_path %></li>
          <li class="<%= 'active' if current_page?(new_player_path) %>"><%= link_to 'Sign In', new_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>  <%='official login: admin / admin' %>
  <div class="container">
    <%=yield %>
  </div>
 </head>
  
</html>
